In [ ]:
#example with Python
#reading data from a file

In [1]:
#this line is only necessary for Jupyter Binder
#if you're trying this example on your local environment, you can skip this step!
import sys
!{sys.executable} -m pip install pandas

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Requirement already satisfied: pandas in /anaconda2/lib/python2.7/site-packages (0.22.0)
Requirement already satisfied: python-dateutil in /anaconda2/lib/python2.7/site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in /anaconda2/lib/python2.7/site-packages (from pandas) (2017.3)
Requirement already satisfied: numpy>=1.9.0 in /anaconda2/lib/python2.7/site-packages (from pandas) (1.16.1)
Requirement already satisfied: six>=1.5 in /anaconda2/lib/python2.7/site-packages (from python-dateutil->pandas) (1.11.0)
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [9]:
#import all the python libraries that we will need for our analysis

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import statsmodels.api as sm

/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
# Read data from file 'geometryITS.csv' 
# (in the same directory that your python process is based)
 
data = pd.read_csv("geometryITS.csv") 


# Preview the first 5 lines of the loaded data 
data.head()

,Row,Sample,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,...,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),First Attempt,Incorrects,Hints,Corrects,Condition,KC,Opportunity
0,1,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,RECTANGLE_ABCD,1,(AREA QUESTION1),02/01/1996 00:00,02/01/1996 00:00,02/01/1996 00:00,...,0,0,.,correct,0,0,1,.,Non-area formula,1
1,2,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,RECTANGLE_ABCD,1,(HEIGHT QUESTION2),02/01/1996 00:00,02/01/1996 00:02,02/01/1996 00:02,...,128,128,.,correct,0,0,1,.,Non-area formula,2
2,3,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,RECTANGLE_ABCD,1,(BASE QUESTION3),02/01/1996 00:02,02/01/1996 00:03,02/01/1996 00:03,...,29,29,.,correct,0,0,1,.,Non-area formula,3
3,4,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,BUILDING_A_SIDEWALK,1,(POOL-AREA QUESTION1),02/01/1996 00:04,02/01/1996 00:04,02/01/1996 00:04,...,0,0,.,correct,0,0,1,.,Non-area formula,4
4,5,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,BUILDING_A_SIDEWALK,1,(LARGE-RECTANGLE-AREA QUESTION1),02/01/1996 00:04,02/01/1996 00:04,02/01/1996 00:04,...,12,12,.,correct,0,0,1,.,Non-area formula,5

In [4]:
#view all variables that are recorded in the dataset
list(data)

['Row',
 'Sample',
 'Anon Student Id',
 'Problem Hierarchy',
 'Problem Name',
 'Problem View',
 'Step Name',
 'Step Start Time',
 'First Transaction Time',
 'Correct Transaction Time',
 'Step End Time',
 'Step Duration (sec)',
 'Correct Step Duration (sec)',
 'Error Step Duration (sec)',
 'First Attempt',
 'Incorrects',
 'Hints',
 'Corrects',
 'Condition',
 'KC',
 'Opportunity']

## What are we doing today?

In this example, we will implement the Additive Factors Model (AFM) proposed by Cen, et. al.
[Cen, H., Koedinger, K., & Junker, B. (2008, June). Comparing two IRT models for conjunctive skills. In International Conference on Intelligent Tutoring Systems (pp. 796-798). Springer, Berlin, Heidelberg.]

The AFM student model predicts student performance on every step based on student's prior practice (number of practice opportunities) and other factors, such as step difficulty, student's proficiency, learning rate and so on. 

To implement the model, we will use logistic regression and we will train and test using the Geometry Tutor dataset.

## Student model input
The AFM equation (see Cen's paper) states that in order to predict student's performance we need to know as input the knowledge component (KC) that is involved in every step and the number of practice opportunities - that is, how many times the student has tried this step before. Also, since the model predicts individual learning, we have to take into account the student's ID.

So, we create an "input" dataframe that puts together this information (lets call it X)

In [5]:
X = data[["Anon Student Id", "KC", "Opportunity"]]

## Student model outcome
The result of the each student's attempt is depicted by the column "first attempt" (the name of the column is misleading, i know!).

So we use this, to create the "outcome" dataframe (we will call it Y), that is - the variable we want to predict. Here, 0 signifies an incorrect answer and 1 signified a correct asnwer.

In [8]:
#create a new column to classify final results. classify steps with a corrent answer as "1", the rest as "0"
data["outcome"] = 1

#studentInfo["result.class"] = studentInfo["final_result"].apply(lambda x: 0 if (x == 'Fail') | x == "Withdrawn") else 1)
data["outcome"].loc[(data["First Attempt"] == "incorrect")] = 0

Y = data[["outcome"]]

## Fitting the AFM model
Now we will fit our model. We will use a part of the dataset to train the model (let's say 80% of the data) and we will also keep a part of the old data to test our model's performance (let's say the rest 20% of the data).

The datasets used for training have the suffix "_train" while the datasets saved for testing have the suffix "_test".

In [16]:
data_train, data_test = train_test_split(data, test_size=0.2, random_state=0)

In [17]:
#data = pd.read_csv("dietox.csv")
model = sm.MixedLM.from_formula("outcome ~ Opportunity + KC", data_train, groups=data_train["Anon Student Id"])
result = model.fit()
print result.summary()

              Mixed Linear Model Regression Results
================================================================
Model:                MixedLM   Dependent Variable:   outcome
No. Observations:     4083      Method:               REML
No. Groups:           59        Scale:                0.1788
Min. group size:      2         Likelihood:           -2333.1763
Max. group size:      196       Converged:            Yes
Mean group size:      69.2
----------------------------------------------------------------
                       Coef. Std.Err.   z    P>|z| [0.025 0.975]
----------------------------------------------------------------
Intercept              0.720    0.021 33.593 0.000  0.678  0.762
KC[T.Non-area formula] 0.008    0.014  0.582 0.561 -0.020  0.037
Opportunity            0.000    0.000  0.292 0.770 -0.000  0.001
groups RE              0.012    0.011
================================================================

In [22]:
#predict on a testset
y_pred = result.predict(data_test)

data_test["y_pred"] = y_pred

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [24]:
data_test["outcome_pred"] = 1

#studentInfo["result.class"] = studentInfo["final_result"].apply(lambda x: 0 if (x == 'Fail') | x == "Withdrawn") else 1)
data_test["outcome_pred"].loc[(data_test["y_pred"] <0.5)] = 0

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [25]:
data_test

,Row,Sample,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,...,First Attempt,Incorrects,Hints,Corrects,Condition,KC,Opportunity,outcome,y_pred,outcome_pred
4439,4440,All Data,Stu_e0e22d49d6bb0a1fe71e19d8d60221ae,Unit Area,BUILDING_A_SIDEWALK,1,(LARGE-RECTANGLE-AREA QUESTION3),02/01/1996 00:01,02/01/1996 00:01,02/01/1996 00:01,...,correct,0,0,1,.,Non-area formula,9,1,0.729040,1
4504,4505,All Data,Stu_e0e22d49d6bb0a1fe71e19d8d60221ae,Unit Area,CIRCLE_O,1,(DIAMETER QUESTION4),02/01/1996 00:20,02/01/1996 00:20,02/01/1996 00:20,...,incorrect,1,0,1,.,Area formula,21,0,0.721523,1
582,583,All Data,Stu_2183634602adb40f1a7de7b09ded0c02,Unit Area,BUILDING_A_SIDEWALK,1,(POOL-AREA QUESTION3),02/01/1996 00:01,02/01/1996 00:01,02/01/1996 00:01,...,correct,0,0,1,.,Non-area formula,8,1,0.728969,1
1691,1692,All Data,Stu_733990addc60bb852997e415bcc9577e,Unit Area,LAWN_SPRINKLER,1,(AREA QUESTION1),02/01/1996 00:31,02/01/1996 00:31,02/01/1996 00:31,...,incorrect,1,0,1,.,Non-area formula,68,0,0.733183,1
3855,3856,All Data,Stu_d5290be96a793ac550b7d2b0b31e4244,Unit Area,DESIGNING_A_QUILT,1,(AREA QUESTION1),02/01/1996 00:36,02/01/1996 00:36,02/01/1996 00:36,...,correct,0,0,1,.,Non-area formula,60,1,0.732622,1
2510,2511,All Data,Stu_ac89a0ef007fb0c8c920b786e2822d83,Unit Area,CIRCLE_O,1,(RADIUS QUESTION1),02/01/1996 00:21,02/01/1996 00:21,02/01/1996 00:21,...,correct,0,0,2,.,Area formula,20,1,0.721453,1
3089,3090,All Data,Stu_c232f8b37b15ea9fce7afc6b73df17bb,Unit Area,CIRCLE_O,1,(AREA QUESTION2),02/01/1996 00:35,02/01/1996 00:35,02/01/1996 00:35,...,correct,0,0,1,.,Non-area formula,80,1,0.734026,1
298,299,All Data,Stu_151682e96c4fe1d626d5a15ca23e2241,Unit Area,TROGS,1,(TROG-AREA QUESTION3),02/01/1996 00:08,02/01/1996 00:08,02/01/1996 00:08,...,incorrect,1,0,1,.,Non-area formula,15,0,0.729461,1
304,305,All Data,Stu_151682e96c4fe1d626d5a15ca23e2241,Unit Area,POGS,1,(POG-AREA QUESTION1),02/01/1996 00:11,02/01/1996 00:11,02/01/1996 00:11,...,correct,0,0,1,.,Non-area formula,19,1,0.729742,1
464,465,All Data,Stu_1b394ff128c045b7d4ad4f6e83933b72,Unit Area,TROGS,1,(TROG-AREA QUESTION2),02/01/1996 00:47,02/01/1996 00:47,02/01/1996 00:47,...,correct,0,0,1,.,Non-area formula,84,1,0.734307,1
3495,3496,All Data,Stu_ca9efbdfd732adc02df2ab44092e1e85,Unit Area,PENTAGON_ABCDE,3,(APOTHEM QUESTION2),02/01/1996 00:18,02/01/1996 00:18,02/01/1996 00:18,...,correct,0,0,1,.,Non-area formula,63,1,0.732832,1
396,397,All Data,Stu_1b394ff128c045b7d4ad4f6e83933b72,Unit Area,TRIANGLE_ABC,1,(HEIGHT QUESTION2),02/01/1996 00:21,02/01/1996 00:21,02/01/1996 00:21,...,incorrect,1,0,1,.,Non-area formula,40,0,0.731217,1
39,40,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,TRAPEZOID_ABCD,2,(HEIGHT QUESTION3),02/01/1996 00:25,02/01/1996 00:25,02/01/1996 00:25,...,incorrect,1,0,1,.,Non-area formula,34,0,0.730795,1
991,992,All Data,Stu_4e8a5be7f2663d2ccccfb59c684d5452,Unit Area,CIRCLE_DIAMETER,2,(AREA QUESTION1),02/01/1996 01:33,02/01/1996 01:33,02/01/1996 01:33,...,correct,0,0,1,.,Non-area formula,117,1,0.736625,1
965,966,All Data,Stu_4e8a5be7f2663d2ccccfb59c684d5452,Unit Area,CIRCLE_O,1,(RADIUS QUESTION3),02/01/1996 01:19,02/01/1996 01:19,02/01/1996 01:19,...,incorrect,1,0,1,.,Non-area formula,106,0,0.735852,1
3520,3521,All Data,Stu_ca9efbdfd732adc02df2ab44092e1e85,Unit Area,CIRCLE_AREA,1,(RADIUS QUESTION3),02/01/1996 00:25,02/01/1996 00:25,02/01/1996 00:25,...,correct,0,0,1,.,Non-area formula,75,1,0.733675,1
2831,2832,All Data,Stu_ad3610752c4af1c3cac6638ef588e02b,Unit Area,DESIGNING_A_QUILT,2,(AREA QUESTION2),02/01/1996 00:58,02/01/1996 00:59,02/01/1996 00:59,...,correct,0,0,1,.,Non-area formula,50,1,0.731919,1
3253,3254,All Data,Stu_c451386562a85a0cc50c36d6df6db731,Unit Area,DESIGNING_A_QUILT,2,(PURPLE-AREA QUESTION3),02/01/1996 00:16,02/01/1996 00:16,02/01/1996 00:16,...,correct,0,0,1,.,Area formula,25,1,0.721804,1
3935,3936,All Data,Stu_d5290be96a793ac550b7d2b0b31e4244,Unit Area,CIRCLE_DIAMETER,3,(CIRCUMFERENCE QUESTION1),02/01/1996 01:07,02/01/1996 01:07,02/01/1996 01:07,...,incorrect,1,0,1,.,Area formula,53,0,0.723771,1
402,403,All Data,Stu_1b394ff128c045b7d4ad4f6e83933b72,Unit Area,TRIANGLE_RECTANGLE,1,(BASE QUESTION1),02/01/1996 00:25,02/01/1996 00:25,02/01/1996 00:25,...,correct,0,0,1,.,Area formula,7,1,0.720540,1
302,303,All Data,Stu_151682e96c4fe1d626d5a15ca23e2241,Unit Area,WATERING_VEGGIES,1,(WATERED-AREA QUESTION1),02/01/1996 00:10,02/01/1996 00:10,02/01/1996 00:10,...,incorrect,1,0,1,.,Non-area formula,18,0,0.729672,1
1001,1002,All Data,Stu_4e8a5be7f2663d2ccccfb59c684d5452,Unit Area,TROGS,1,(SQUARE-AREA QUESTION3),02/01/1996 01:40,02/01/1996 01:40,02/01/1996 01:40,...,correct,0,0,1,.,Non-area formula,123,1,0.737046,1
4160,4161,All Data,Stu_d7f18a5fa205a889b0c5b0b56a7127d3,Unit Area,CIRCLE_RADIUS,1,(AREA QUESTION2),02/01/1996 00:49,02/01/1996 00:49,02/01/1996 00:49,...,correct,0,0,1,.,Non-area formula,102,1,0.735571,1
42,43,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,TRAPEZOID_ABCD,3,(AREA QUESTION1),02/01/1996 00:28,02/01/1996 00:28,02/01/1996 00:28,...,incorrect,1,0,1,.,Non-area formula,37,0,0.731006,1
5054,5055,All Data,Stu_f01773c1237a0acdf4170202bf5b5c32,Unit Area,TROGS,1,(TROG-HEIGHT QUESTION2),02/01/1996 00:35,02/01/1996 00:35,02/01/1996 00:35,...,incorrect,1,0,1,.,Area formula,45,0,0.723209,1
559,560,All Data,Stu_1d8cd1d1ea2c887618aa21a4b650b4ba,Unit Area,PARALLELOGRAM_ABDE,1,(HEIGHT QUESTION2),02/01/1996 00:04,02/01/1996 00:04,02/01/1996 00:04,...,correct,0,0,1,.,Non-area formula,11,1,0.729180,1
534,535,All Data,Stu_1d6b91d4b593d7e4f5622275b3295663,Unit Area,CIRCLE_O,2,(CIRCUMFERENCE QUESTION1),02/01/1996 00:12,02/01/1996 00:12,02/01/1996 00:12,...,correct,0,0,1,.,Area formula,31,1,0.722225,1
1085,1086,All Data,Stu_58d8c63d6e15a65f05b2e59e0a285d8f,Unit Area,PENTAGON_ABCDE,1,(APOTHEM QUESTION2),02/01/1996 00:17,02/01/1996 00:18,02/01/1996 00:18,...,incorrect,1,0,1,.,Non-area formula,44,0,0.731498,1
780,781,All Data,Stu_3ccf65a4350752bf3a96ec95a3a90cd0,Unit Area,PAINTING_THE_WALL,2,(WALL-AREA QUESTION1),02/01/1996 00:05,02/01/1996 00:06,02/01/1996 00:06,...,incorrect,1,0,1,.,Non-area formula,28,0,0.730374,1
214,215,All Data,Stu_0dc180ab4196c3c75b62bfc5e01e6ee2,Unit Area,TROGS,1,(TROG-AREA QUESTION1),02/01/1996 00:21,02/01/1996 00:22,02/01/1996 00:22,...,correct,0,0,1,.,Non-area formula,29,1,0.730444,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,1458,All Data,Stu_706a76f06dfa563c7ea573d994ca5405,Unit Area,BUILDING_A_SIDEWALK,1,(SIDEWALK-AREA QUESTION3),02/01/1996 00:02,02/01/1996 00:02,02/01/1996 00:02,...,correct,0,0,1,.,Area formula,3,1,0.720259,1
3188,3189,All Data,Stu_c451386562a85a0cc50c36d6df6db731,Unit Area,BUILDING_A_SIDEWALK,1,(LARGE-RECTANGLE-AREA QUESTION2),02/01/1996 00:00,02/01/1996 00:00,02/01/1996 00:00,...,correct,0,0,1,.,Non-area formula,7,1,0.728899,1
4966,4967,All Data,Stu_f01773c1237a0acdf4170202bf5b5c32,Unit Area,TRAPEZOID_ABCD,3,(LONGER-BASE QUESTION2),02/01/1996 00:15,02/01/1996 00:16,02/01/1996 00:16,...,correct,0,0,1,.,Non-area formula,35,1,0.730866,1
1299,1300,All Data,Stu_671ccc3ef2c091b6b6d76b34e3d19a8f,Unit Area,PAINTING_THE_WALL,2,(WALL-AREA QUESTION1),02/01/1996 00:05,02/01/1996 00:05,02/01/1996 00:05,...,correct,0,0,1,.,Non-area formula,29,1,0.730444,1
4974,4975,All Data,Stu_f01773c1237a0acdf4170202bf5b5c32,Unit Area,TRIANGLE_ABC,1,(HEIGHT QUESTION2),02/01/1996 00:19,02/01/1996 00:20,02/01/1996 00:20,...,correct,0,0,1,.,Non-area formula,43,1,0.731428,1
70,71,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,DESIGNING_A_QUILT,1,(AREA QUESTION3),02/01/1996 00:38,02/01/1996 00:39,02/01/1996 00:39,...,correct,0,0,1,.,Non-area formula,58,1,0.732481,1
2606,2607,All Data,Stu_ac8f950f416639e014a1294ac59b4086,Unit Area,DESIGNING_A_QUILT,1,(WHITE-AREA QUESTION1),02/01/1996 00:18,02/01/1996 00:19,02/01/1996 00:19,...,incorrect,1,0,1,.,Area formula,8,0,0.720610,1
728,729,All Data,Stu_2ebe6a7530ff11f2c0b9b807faf0a0a3,Unit Area,POGS,1,(SCRAP-METAL-AREA QUESTION1),02/01/1996 00:50,02/01/1996 00:50,02/01/1996 00:50,...,correct,0,0,1,.,Area formula,35,1,0.722506,1
866,867,All Data,Stu_4e8a5be7f2663d2ccccfb59c684d5452,Unit Area,TRAPEZOID_ABCD,1,(HEIGHT QUESTION3),02/01/1996 00:10,02/01/1996 00:11,02/01/1996 00:11,...,incorrect,1,0,1,.,Non-area formula,31,0,0.730585,1
4509,4510,All Data,Stu_e0e22d49d6bb0a1fe71e19d8d60221ae,Unit Area,CIRCLE_O,1,(CIRCUMFERENCE QUESTION3),02/01/1996 00:22,02/01/1996 00:22,02/01/1996 00:22,...,incorrect,1,0,1,.,Area formula,24,0,0.721734,1
4583,4584,All Data,Stu_e242582bd5729de82485e42d69e22109,Unit Area,BUILDING_A_SIDEWALK,1,(LARGE-RECTANGLE-AREA QUESTION2),02/01/1996 00:02,02/01/1996 00:02,02/01/1996 00:02,...,correct,0,0,1,.,Non-area formula,7,1,0.728899,1
4081,4082,All Data,Stu_d7f18a5fa205a889b0c5b0b56a7127d3,Unit Area,DESIGNING_A_QUILT,1,(AREA QUESTION2),02/01/1996 00:26,02/01/1996 00:26,02/01/1996 00:26,...,correct,0,0,1,.,Non-area formula,54,1,0.732200,1
4450,4451,All Data,Stu_e0e22d49d6bb0a1fe71e19d8d60221ae,Unit Area,PAINTING_THE_WALL,1,(WALL-AREA QUESTION1),02/01/1996 00:02,02/01/1996 00:03,02/01/1996 00:03,...,correct,1,0,2,.,Non-area formula,19,1,0.729742,1
3092,3093,All Data,Stu_c232f8b37b15ea9fce7afc6b73df17bb,Unit Area,CIRCLE_O,1,(CIRCUMFERENCE QUESTION3),02/01/1996 00:35,02/01/1996 00:35,02/01/1996 00:35,...,incorrect,1,0,1,.,Area formula,21,0,0.721523,1
472,473,All Data,Stu_1b394ff128c045b7d4ad4f6e83933b72,Unit Area,WATERING_VEGGIES,1,(TOTAL-GARDEN QUESTION1),02/01/1996 00:49,02/01/1996 00:49,02/01/1996 00:49,...,correct,0,0,1,.,Non-area formula,89,1,0.734658,1
2087,2088,All Data,Stu_87d1548f2cd78b7b8e334802016e700e,Unit Area,CIRCLE_O,1,(AREA QUESTION1),02/01/1996 00:36,02/01/1996 00:36,02/01/1996 00:36,...,correct,0,0,4,.,Non-area formula,61,1,0.732692,1
660,661,All Data,Stu_2ebe6a7530ff11f2c0b9b807faf0a0a3,Unit Area,TRAPEZOID_BASE,1,(LONGER-BASE QUESTION2),02/01/1996 00:09,02/01/1996 00:09,02/01/1996 00:09,...,correct,0,0,1,.,Non-area formula,27,1,0.730304,1
57,58,All Data,Stu_02ee1b3f31a6f6a7f4b8012298b2395e,Unit Area,TRIANGLE_ABC,1,(HEIGHT QUESTION2),02/01/1996 00:33,02/01/1996 00:34,02/01/1996 00:34,...,incorrect,1,0,1,.,Non-area formula,52,0,0.732060,1
3794,3795,All Data,Stu_d5290be96a793ac550b7d2b0b31e4244,Unit Area,BUILDING_A_SIDEWALK,1,(SIDEWALK-AREA QUESTION1),02/01/1996 00:01,02/01/1996 00:02,02/01/1996 00:02,...,correct,0,0,1,.,Area formula,1,1,0.720119,1
4723,4724,All Data,Stu_e242582bd5729de82485e42d69e22109,Unit Area,WATERING_VEGGIES,1,(WATERED-AREA QUESTION1),02/01/1996 00:45,02/01/1996 00:45,02/01/1996 00:45,...,incorrect,1,0,1,.,Non-area formula,109,0,0.736063,1
4722,4723,All Data,Stu_e242582bd5729de82485e42d69e22109,Unit Area,WATERING_VEGGIES,1,(TOTAL-GARDEN QUESTION1),02/01/1996 00:45,02/01/1996 00:45,02/01/1996 00:45,...,correct,0,0,1,.,Non-area formula,108,1,0.735993,1
3266,3267,All Data,Stu_c451386562a85a0cc50c36d6df6db731,Unit Area,PENTAGON,2,(AREA QUESTION1),02/01/1996 00:20,02/01/1996 00:20,02/01/1996 00:20,...,incorrect,1,0,1,.,Non-area formula,61,0,0.732692,1
246,247,All Data,Stu_11a1b913a4129bacb8b88a619fd09ae2,Unit Area,TROGS,1,(TROG-HEIGHT QUESTION3),02/01/1996 00:09,02/01/1996 00:09,02/01/1996 00:09,...,correct,0,0,1,.,Area formula,7,1,0.720540,1
3098,3099,All Data,Stu_c232f8b37b15ea9fce7afc6b73df17bb,Unit Area,COVERING_POOL,1,(RADIUS QUESTION1),02/01/1996 00:39,02/01/1996 00:39,02/01/1996 00:39,...,correct,0,0,1,.,Non-area formula,84,1,0.734307,1
2816,2817,All Data,Stu_ad3610752c4af1c3cac6638ef588e02b,Unit Area,DESIGNING_A_QUILT,1,(WHITE-AREA QUESTION2),02/01/1996 00:43,02/01/1996 00:44,02/01/1996 00:44,...,correct,0,0,1,.,Area formula,9,1,0.720680,1
5059,5060,All Data,Stu_f01773c1237a0acdf4170202bf5b5c32,Unit Area,TROGS,1,(SQUARE-AREA QUESTION3),02/01/1996 00:37,02/01/1996 00:37,02/01/1996 00:37,...,correct,0,0,1,.,Non-area formula,87,1,0.734518,1
2396,2397,All Data,Stu_9fb3481981a38a7299e9b3c96e0d0218,Unit Area,CIRCLE_DIAMETER,2,(AREA QUESTION1),02/01/1996 00:52,02/01/1996 00:52,02/01/1996 00:52,...,correct,0,0,1,.,Non-area formula,119,1,0.736765,1
2009,2010,All Data,Stu_87d1548f2cd78b7b8e334802016e700e,Unit Area,BUILDING_A_SIDEWALK,1,(SIDEWALK-AREA QUESTION2),02/01/1996 00:02,02/01/1996 00:02,02/01/1996 00:02,...,correct,0,0,1,.,Area formula,2,1,0.720189,1
4701,4702,All Data,Stu_e242582bd5729de82485e42d69e22109,Unit Area,CIRCLE_DIAMETER,1,(RADIUS QUESTION1),02/01/1996 00:40,02/01/1996 00:40,02/01/1996 00:40,...,correct,0,0,1,.,Area formula,28,1,0.722015,1
3315,3316,All Data,Stu_c451386562a85a0cc50c36d6df6db731,Unit Area,CIRCLE_DIAMETER,2,(CIRCUMFERENCE QUESTION1),02/01/1996 00:37,02/01/1996 00:37,02/01/1996 00:37,...,correct,0,0,1,.,Area formula,46,1,0.723279,1

In [29]:
error = abs(data_test["outcome_pred"] - data_test["outcome"])

In [30]:
mean(error)

NameError: name 'mean' is not defined

In [39]:
float(sum(error))/float(len(error))

0.2595494613124388

In [37]:
sum(error)

265

In [38]:
len(error)

1021